.sidebar_menu{
    position: fixed;
    top: 50px;
}
.sidebar_menu_item{
    font-size: 20px;
    color: #0F141A;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 10px;
}

.sidebar_menu_item:hover{
    background: rgba(29, 161, 242, 0.1);
    color: #71c3f5; 
    border-radius: 20px;
    cursor: pointer;
}

.sidebar_menu_item--active{
    color: #1da0f2;
}

.sidebar_menu_item_icon{
    height: 26px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
}

.sidebar_menu_item--active .sidebar_menu_item_icon{
    filter: invert(44%) sepia(84%) saturate(1004%) hue-rotate(179deg) brightness(95%) contrast(97%);
} 